<article>
  <form action="/memos" method="post">
    <div class="form-items">
      <div class="form-items__item">
        <label for="title">タイトル</label>
        <input type="text" name="title" placeholder="ここにメモのタイトルを記入して下さい">
      </div>
      <div class="form-items__item">
        <label for="content">内容</label>
        <textarea name="content" placeholder="ここにメモの内容を記入して下さい"></textarea>
      </div>
      <div class="button">
        <button type="submit">保存</button>
      </div>
    </div>
  </form>
</article>
